

.work-sans-normal {
 font-family: "Work Sans", sans-serif;

  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.nav-container{
    display: flex;
justify-content: space-between;
    
}
.table-container{
    list-style: none;
   margin-top: 24px;
   margin-right: 160px;
}
.btn-container{
    height: 52px;
    width: 116px;
    background-color: white;
  border-radius: 6px;
color: green; 
  font-weight: 800;
border-color: green;
font-size: 15px;
}
.image-container {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-left: 300px;
 margin-right: 160px;
  margin-top: 50px;
 border-radius: none;
margin-bottom: 80px ;

}

